<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

<title>Tutor List</title>
<meta http-equiv = "Content-Type" contect = "text/html" charset="UTF-8"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<div class="container">

<h1>Tutor list</h1>

<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	
<div  style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
<table class="table table-striped table-dark">
<tbody>
<tr>
					
					<th>Date</th>
					<th>Start </th>
					<th>End</th>
					<th>Location</th>
					<th>Satisfaction Level</th>
					<th>isComplete</th>
					<th>Tutor Name</th>
					<th>Teaching Language</th>
					<th></th>
				</tr>
<tr th:each ="lesson:${lessons}">


<td th:text="${#dates.format(lesson.date, 'dd-MM-yyyy')}"></td>
<td th:text="${lesson.startTime}"></td>
<td th:text="${lesson.endTime}"></td>
<td th:text="${lesson.location}"></td>
<td th:text="${lesson.satisfactionLevel}"></td>
<td th:text="${lesson.completed}"></td>
<td th:text="${lesson.tutor.name}"></td>
<td th:text="${lesson.language.name}"></td>
<td ><a th:href="@{/edit/{id}(id=${lesson.id})}"class="btn btn-success">Update</a></td>


</tr>

</tbody>

</table>

<a href="/tutorlist" class="btn btn-primary">Back</a>

</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>