<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

<title>Tutor List</title>
<meta http-equiv = "Content-Type" contect = "text/html" charset="UTF-8"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<div class="container">
<br/>
<br/>
<h1>Tutor list</h1>

<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
<table class="table table-striped">
<tbody>
<tr>

					
					<th>Name of tutor</th>
					<th>Background</th>
					 <th> </th>
					<th></th>
				</tr>
<tr th:each ="tutor:${tutors}">


<td th:text="${tutor.name}"></td>

<td th:text="${tutor.background}"></td>

<td ><a th:href="@{/schedule/{id}(id=${tutor.id})}"class="btn btn-success">Check Schedule</a></td>
<td><a href="/booktutor" class="btn btn-primary">Book</a></td> 

</tr>

</tbody>

</table>


</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>